.page-zone {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	h3 {
		font-size: 1.25rem;
		font-weight: 500;
	}
	.horizontal-line {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.page-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		.title {
			display: flex;
			width: 75%;
			text-transform: uppercase;
		}
		.user-actions {
			display: flex;
			width: 60%;
			justify-content: flex-start;
			align-items: center;
		    .fa {
	    		margin-right: 2%;
			}
    	}
	}
	.page-header-date-selector {
		display: flex;
		margin: 0.8% 0 0 0;
		input {
			font-size: 1.1em;
			font-weight: 700;
		}
		.trigger {
			display: flex;
			width: 30px;
			height: 30px;
			.fa-calendar {
			    margin: 21% 0 0 20%;
			}
		}
	}
	.page-hero-and-date-selector {
		display: flex;
		width: 100%;
		min-height: 450px;
		justify-content: center;
		align-items: center;
		flex-flow: row nowrap;
		margin: 2% 0 0 0;
		.page-date-selector-for-a-week {
			display: flex;
			width: 100%;
			flex-flow: row wrap;
			padding-left: 2%;
		}
		.page-date-selector-for-a-week {
			/*display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;*/
			display: block;
			column-count: 2;
			column-width: 150px;
			height: 565px;
			overflow: hidden;
			.date-first-and-second-row {
				/*display: flex;*/
				width: 100%;
				flex-flow: row wrap;
				justify-content: space-between;
				margin: 0 0 5% 0;
				/*height: 175px;*/
				.date-row-image {
					margin: 5% 0 0 0;
					height: 135px;
					.no-image {
						width: 100px;
						height: 100px;
					}
				}
				.date-frist-day, .date-second-day {
					/*display: flex;
					flex-flow: column nowrap;*/
					display: block;
					height: 175px;
					font-weight: 700;
					.date-wrapper {
						min-height: 20px;
					}
				}
			}
		}
	}
	.page-hero-image {
		width: 900px;
		@media all and (min-width: 300px) and (max-width: 700px) {
			width: 100%;
		}
	}
	.page-footer-image-carousel {
		display: flex;
		flex-flow: row nowrap;
		margin: 2% 0 0 0;
	}
	.gallery-layout-outer {
		display: flex;
		width: 800px;
	}
}

.ngx-gallery-thumbnails-wrapper {
	.ngx-gallery-thumbnails {
		.ngx-gallery-thumbnail.ngx-gallery-active {
			display: block;
			border: 2px solid red !important;
		}
	}
}