<div class="page-zone" [@routerTransition]>
	<div class="page-header">
		<div class="title"><h2 class="text-muted">{{locationName}} detail & 1 week history</h2></div>
		<div class="user-actions">
			<span class="fa fa-copy"></span>
			<span class="fa fa-download"></span>
			<span class="fa fa-envelope"></span>
		</div>
	</div>
	<div class="horizontal-line"></div>
	<div><h3>Simply change the the date for additional pitcures</h3></div>
	<div class="page-header-date-selector">
	    <input (ngModelChange)="setDateByUserSelect($event)" #datePicker [owlDateTime]="dt1"
	     [(ngModel)]="selectedDate" placeholder={{minDate}} [min]="minDate" [max]="maxDate">
	    <span class="trigger" [owlDateTimeTrigger]="dt1">
    		<span class="fa fa-calendar"></span>
	    </span>
	    <owl-date-time [pickerType]="'calendar'" [pickerMode]="'popup'" #dt1 ></owl-date-time>
	</div>
	<div class="horizontal-line"></div>
	<div class="page-hero-and-date-selector">
		<div class="page-hero-image">
			<input type="hidden" [(ngModel)]="selectedObject" name="selectedObject">
	        <div *ngIf="selectedObject.show != true">
	        	<div *ngIf="selectedObject.galleryImages?.length > 0">
					<ngx-gallery [options]="galleryOptions" [images]="selectedObject.galleryImages" class="gallery-layout-outer"></ngx-gallery>
	        	</div>
			</div>
		 </div>
		<div class="page-date-selector-for-a-week">
			<div class="date-first-and-second-row" *ngFor="let thumbDates of thumbnailDates">
				<div class="date-frist-day" *ngIf="thumbDates.show == true">
					<div class="date-wrapper">
						{{thumbDates.label | date:'MM/dd/yyyy'}}
					</div>
					<ng-template [ngIf]="thumbDates.galleryImages?.length > 0">
						<div class="date-row-image">
							<a href="javascript:void(0)" (click)="setImageGalleryViewByDate( thumbDates )" >
								<img src="{{thumbDates.galleryImages[ 0 ].small}}" width="200">
							</a>
						</div>
					</ng-template>
					<ng-template [ngIf]="thumbDates.galleryImages?.length == 0">
						<div class="no-image">
							<img src="assets/images/slider1.jpg" width="200">
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<div class="page-footer-image-carousel"> 
	 </div>
</div>
