<div [@routerTransition]>

    <div class="dashboard-select-box">
        <h2 class="text-muted">{{projectName}}</h2>

        <div class="site-container">
            <label for="site" class="label-container">Site: </label>
            <select id="site" class="select-container" [(ngModel)]="selectedSiteId" (change)="getSiteLocations()">
                <option *ngFor="let s of sites" [ngValue]="s.site_id">{{s.site_name}}</option>
            </select>
        </div>
    </div>

    <hr>
    <h2 class="text-muted"><!--{{selectedSite.site_name}}--></h2>
    <hr>
    <div class="page-header">
        <h5> Simply Click On The Picture For Additional Zone Level Details</h5>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let location of locations">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <a [routerLink]="['/zone']" (click)="navigateToZone(location)">
                    <div class="widget-user-header bg-black img-fluid location-tile" [ngStyle]="{'background-image': 'url(' + location.image + ')'}">
                    </div>
                </a>
                <div class="box-footer">
                    <div class="box box-primary collapsed-box direct-chat direct-chat-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{location.location_name}}</h3>

                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="list-group no-padding">
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-id-card-o fa-fw"></i> Person detection
                                    <span class="float-right text-muted small">
                                        <em>1 Steel Sub</em>
                                    </span>
                                </li>
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-object-group fa-fw"></i> Object detection
                                    <span class="float-right text-muted small">
                                        <em>1 Visible Harness</em>
                                    </span>
                                </li>
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-eye fa-fw"></i> Motion detection
                                    <span class="float-right text-muted small">
                                        <em>December 7, 2017
                                            <br>1:37:53 PM GMT-06:00</em>
                                    </span>
                                </li>
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-thermometer-full fa-fw"></i> Current Temperature
                                    <span class="float-right text-muted small">
                                        <em>58°F</em>
                                    </span>
                                </li>
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-tint fa-fw"></i> Current Humidity
                                    <span class="float-right text-muted small">
                                        <em>32%</em>
                                    </span>
                                </li>
                                <li class="list-group-item clearfix d-block">
                                    <i class="fa fa-industry fa-fw"></i> Current CO2 Level
                                    <span class="float-right text-muted small">
                                        <em>2700 PPM</em>
                                    </span>
                                </li>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.widget-user -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
